.buttonQuizz {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #000000;
  background: #e6e6e6;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 0;
  opacity: 0.8;
  
  font-size: 13px;
  margin-left: 10px;
}

.buttonQuizz:hover {
      opacity: 1;
      cursor: pointer;
}

button:focus {
    outline:0;
}

solution {
    font-weight:bold;
    font-family:Verdana;
    font-size:18px;
}

.buttonFullScreen {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #334f0a;
  background: #e6e6e6;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: solid #f0990e 3px;
  opacity: 0.8;
  
  font-size: 13px;
  margin-left: 10px;
}

.buttonFullScreen:hover {
      opacity: 1;
      cursor: pointer;
}
